*.npy filter=lfs diff=lfs merge=lfs -text
ptb/ptb.valid.txt filter=lfs diff=lfs merge=lfs -text
wiki/wiki.train.txt filter=lfs diff=lfs merge=lfs -text
data/hi_scotland.txt filter=lfs diff=lfs merge=lfs -text
data/te_tiger.txt filter=lfs diff=lfs merge=lfs -text
ptb/counts.txt filter=lfs diff=lfs merge=lfs -text
ptb/ptb.test.txt filter=lfs diff=lfs merge=lfs -text
data/ptb.test.txt filter=lfs diff=lfs merge=lfs -text
data/ptb.train.txt filter=lfs diff=lfs merge=lfs -text
data/te_space.txt filter=lfs diff=lfs merge=lfs -text
ptb/ptb.char.valid.txt filter=lfs diff=lfs merge=lfs -text
data/te_politics.txt filter=lfs diff=lfs merge=lfs -text
ptb/ptb.train.txt filter=lfs diff=lfs merge=lfs -text
wiki/counts.txt filter=lfs diff=lfs merge=lfs -text
wiki/wiki.test.txt filter=lfs diff=lfs merge=lfs -text
data/hi_computer.txt filter=lfs diff=lfs merge=lfs -text
data/ptb.valid.txt filter=lfs diff=lfs merge=lfs -text
data/te_bop.txt filter=lfs diff=lfs merge=lfs -text
data/te_computer.txt filter=lfs diff=lfs merge=lfs -text
ptb/ptb.char.test.txt filter=lfs diff=lfs merge=lfs -text
ptb/ptb.char.train.txt filter=lfs diff=lfs merge=lfs -text
wiki/wiki.valid.txt filter=lfs diff=lfs merge=lfs -text
data/hi_animals.txt filter=lfs diff=lfs merge=lfs -text
data/hi_politics.txt filter=lfs diff=lfs merge=lfs -text
data/hi_space.txt filter=lfs diff=lfs merge=lfs -text
ptb/char_input.txt filter=lfs diff=lfs merge=lfs -text
